* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E26069;
}

div.grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

div.grid-item {
  width: 80px;
  height: 80px;
  border: 1px dashed black;
}
