* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #E26069;
}

html, body {
  margin: 20px;
  padding: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 30px;
  margin: 50px;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 300px 100px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-layout {
  background-color: #FFF59B;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  justify-content: center;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 60px;
  height: 60px;
}

.blank {
  background-color: #2196F3;
  border-width: 0;
}

.grid-layout.main {
  width: 300px;
  height: 620px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.grid-layout.solution {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.grid-layout.choices {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.grid-container.hints {
  display: flex;
  flex-wrap: wrap;
}
.grid-layout.hints {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  align-items: center;
}

.grid-item.hints {
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 20px;
  height: 20px;
}

.grid-layout.choices {
  display: flex;
  flex-wrap: wrap;
  height: 140px;
}
