* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction:  column;
  background-image: url('../images/pulpdance.gif');
  background-size: cover;
  margin: 20px;
  padding: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 90px;
  font-family: 'Notable', sans-serif;
  color: gold;
  text-shadow: 2px 2px 4px #000000;
}

button {
  margin: 10px;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  font-size: 30px;
  justify-content: center;
  outline: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  color: #F3140C;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 300px 100px;
  background-color: #B0C4DE;
  padding: 10px;
  border-radius: 10px;
}

.grid-container.main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.grid-layout {
  border: 2px dotted white;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}

.grid-item {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.40);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
}

.blank {
  background-color: #B0C4DE;
  border-width: 0;
}

.grid-layout.main {
  width: 300px;
  height: 620px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.grid-layout.solution {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.grid-layout.choices {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.grid-container.hints {
  display: flex;
  flex-wrap: wrap;

}
.grid-layout.hints, .grid-layout.hints2, .grid-layout.hints3, .grid-layout.hints4, .grid-layout.hints5, .grid-layout.hints6, .grid-layout.hints7, .grid-layout.hints8, .grid-layout.hints9, .grid-layout.hints10  {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  align-items: center;
}

.grid-item.hints {
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
}

.grid-layout.choices {
  display: flex;
  flex-wrap: wrap;
  height: 140px;
}

.box-red {
  background-color: #FF0000;
}
.grid-item.hints.box-red {
  background-color: #FF0000;
}
.box-orange {
  background-color: #FFA500;
}
.box-yellow {
  background-color: #FFFF00;
}
.box-green {
  background-color: #00FF7F;
}
.box-blue {
  background-color: #00BFFF;
}
.box-pink {
  background-color: #EE82EE;
}
.box-purple {
  background-color: #9932CC;
}
.box-grey {
  background-color: #696969;
}
.grid-item.hints.box-white {
  background-color: #FFFFFF;
}
.box-black {
  background-color: #000000;
}

.grid-item.hints.box-crimson {
  background-color: crimson;
}

.grid-item.solution.box-blank {
  background-color: #B0C4DE !important;
}

.rules, .how-to-play {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.rules-text, .play-text {
  font-size: 25px;
  color: white;
}
